img {
   width: 10%; /* Ширина */
   float: center; /* Выстраиваем элементы по горизонтали */
   margin: 1% 0% 0% 0%; /* Отступ слева */
   background: #e7e1e1ca; /* Цвет фона */
   border-radius: 50px; /* Радиус скругления */
   padding: 2%; /* Поля */
   }
.container {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   background: #c2d5d6ca;
   text-align: center;
   margin-bottom: 0%;
   border-radius: 50px; 
}
.container2 {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   background: #f2ffd8ca;
}
body {
   background: #d6cbd6ca;
}